{% extends 'base.html.twig' %}

{% block title %}Créer une tâche - {{ parent() }}{% endblock %}
{% block header %}<h1>Créer une tâche</h1>{% endblock %}


{% block body %}
    <div id="content">
        {{ form_start(form) }}
            <div>
                {{ form_row(form.name) }}
            </div>
            <div>
                {{ form_row(form.description) }}
            </div>
            <div class="flex-form">
                <div>
                    {{ form_row(form.deadline) }}
                </div>
                <div>
                    {{ form_row(form.status) }}
                </div>
            </div>
            <div>
                {{ form_row(form.user) }}       
            </div>
            <br>
            <button class="button button-submit">Ajouter</button>
        {{ form_end(form) }}
    </div>
{% endblock %}