{% block form_task %}
    <div id="content">
        {{ form_start(form) }}
            <div>
                {{ form_row(form.name) }}
            </div>
            <div>
                {{ form_row(form.description) }}
            </div>
            <div class="flex-form">
                <div>
                    {{ form_row(form.deadline) }}
                </div>
                <div>
                    {{ form_row(form.status) }}
                </div>
            </div>
            <div>
                {{ form_row(form.user) }}       
            </div>
            <br>
            <button class="button button-submit">Ajouter</button>
            {% block delete_button %}{% endblock %}
        {{ form_end(form) }}
    </div>
{% endblock %}
